<%= form_with(model: catalog, local: true) do |form| %>
  <% if catalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catalog.errors.count, "error") %> prohibited this catalog from being saved:</h2>

      <ul>
      <% catalog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :catalog_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :catalog_description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :catalog_image %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.check_box :state, id: :catalog_state %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
