

<div class="row sign_form" style="    background-color: #c3c3c3;">

<div class="col-lg-6 col-lg-offset-3 login1">
<%= form_with(model: catalog, local: true) do |form| %>
  <% if catalog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(catalog.errors.count, "error") %> prohibited this catalog from being saved:</h2>

      <ul>
      <% catalog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Nombre" %>
    <%= form.text_field :name, id: :catalog_name, class: "form form-control" %>
  </div>

  <div class="form-group">
    <%= form.label "Descripcion" %>
    <%= form.text_area :description, id: :catalog_description , class: "form form-control"%>
  </div>

<div class="row">
<div class="col-md-6">
  <div class="form-group">
    <%= form.label "Imagen" %>
    <%= form.file_field :image, id: :catalog_image , class: "form form-control"%>
  </div>
</div>
<div class="col-md-6">
    <div class="form-group">
    <%= form.label "Adjuntar Catalogo" %>
    <%= form.file_field :catalog_attachment, id: :catalog_attachment , class: "form form-control"%>
  </div>
</div>

  
</div>
  


  

  <div class="form-group">
    <%= form.label "Url Catalogo" %>
    <%= form.text_field :catalog_url, id: :catalog_url, class: "form form-control" %>
  </div>


  <div class="form-group">
    <%= form.label "Estado" %>
    <%= form.check_box :state, id: :catalog_state, class: "form form-control" %>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
</div></div>