<div class="row sign_form" style="    background-color: #c3c3c3;">

<div class="col-lg-6 col-lg-offset-3 login1">
<%= form_with(model: slider, local: true) do |form| %>
  <% if slider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(slider.errors.count, "error") %> prohibited this slider from being saved:</h2>

      <ul>
      <% slider.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :slider_name , class: "form form-control" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :slider_description , class: "form form-control" %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :slider_image , class: "form form-control" %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.check_box :state, id: :slider_state  , class: "form form-control"%>
  </div>

  <div class="actions">
    <%= form.submit "Guardar", class: "btn btn-primary"  %>
  </div>
<% end %>
  </div>  </div>