<div class="container">
  <h1 align="center">Sliders</h1>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Imagen</th>
        <th>State</th>
        <th colspan="3" style="text-align: center;">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @sliders.each do |slider| %>
        <tr>
          <td><%= slider.name %></td>
          <td><%= slider.description %></td>
          <td><%= image_tag slider.image_url, style: "width:100px;" %></td>
          <td><%= slider.state %></td>
          <td><%= link_to 'Show', slider %></td>
          <td><%= link_to 'Edit', edit_slider_path(slider) %></td>
          <td><%= link_to 'Destroy', slider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Nuevo Slider', new_slider_path, class: "btn btn-primary" %>
  <br>
</div>
<br>

<style type="text/css">

  .btn{
  background-color: #FEAD00;
  border-color: #FEAD00;

  }

  .btn:hover{
    background-color: #FEAD00;
    border-color: #FEAD00;

  }

</style>