<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @slider.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @slider.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @slider.image %>
</p>

<p>
  <strong>State:</strong>
  <%= @slider.state %>
</p>

<%= link_to 'Edit', edit_slider_path(@slider) %> |
<%= link_to 'Back', sliders_path %>
