

<div class="row sign_form" style="    background-color: #c3c3c3;">

<div class="col-lg-6 col-lg-offset-3 login1">
<%= form_with(model: some_product, local: true) do |form| %>
  <% if some_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(some_product.errors.count, "error") %> prohibited this some_product from being saved:</h2>

      <ul>
      <% some_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :some_product_name, class: "form form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :some_product_description, class: "form form-control"  %>
  </div>

<div class="form-group">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :some_product_user_id , class: "form form-control" %>
  </div>

<div class="form-group">
    <%= form.label :state %>
    <%= form.check_box :state, id: :some_product_state, class: "form form-control"  %>
  </div>

 <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, id: :some_product_image, class: "form form-control"  %>
  </div>
  <div class="form-group">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
</div></div>


