

<div class="row sign_form"">

<div class="col-lg-6 col-lg-offset-3 login1">
<%= form_with(model: some_product, local: true) do |form| %>
  <% if some_product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(some_product.errors.count, "error") %> prohibited this some_product from being saved:</h2>

      <ul>
      <% some_product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :some_product_name, class: "form form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, id: :some_product_description, class: "form form-control"  %>
  </div>

<div class="form-group">
    <%= form.label :Estado %><br>
    <%= form.check_box :state, id: :some_product_state, class: ""  %>
  </div>

 <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image, id: :some_product_image, class: "form form-control"  %>
  </div>
  <div class="form-group">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
    <%= link_to 'Back', some_products_path, class: "volver" %>
  </div>
<% end %>
</div>

<style type="text/css">

  .login1{
    border-right: 8px solid #FEAD00;
    border-left: 8px solid #FEAD00;
  }

  .btn{
  background-color: #FEAD00;
  border-color: #FEAD00;

  }

  .btn:hover{
    background-color: #FEAD00;
    border-color: #FEAD00;

  }

  .volver{
    padding: 11px 10px;
    background-color: #FEAD00;
    border-radius: 6px;
    text-decoration: none;
    color: #f1f1f1;

  }

  .volver:hover{
    color: black;
    text-decoration: none;
    color: #f1f1f1;
  }
  

</style>

