<p id="notice"><%= notice %></p>
<div class="container">
  <h1 align="center">Algun Producto</h1>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>User</th>
        <th>State</th>
        <th>Image</th>
        <th colspan="3" style="text-align: center;">Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @some_products.each do |some_product| %>
        <tr>
          <td><%= some_product.name %></td>
          <td><%= some_product.description %></td>
          <td><%= some_product.user_id %></td>
          <td><%= some_product.state %></td>
          <td><%= some_product.image %></td>
          <td><%= link_to 'Mostrar', some_product %></td>
          <td><%= link_to 'Editar', edit_some_product_path(some_product) %></td>
          <td><%= link_to 'Eliminar', some_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Some Product', new_some_product_path, class: "btn btn-primary" %>

</div>
