<div class="row">
<div class="col-md-12 text-center somos-m" >
<p style = "  padding: 0px 0px;
margin:0px !important;
        
    color: white;
    background: orange;
    font-family: 'Gloria Hallelujah', cursive;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;;">¡ SOMOS MAYORISTAS !</p>
  
</div>


<div class="row first" style="box-shadow: 0 -3px 12px -5px #333;" >
   <div class="col-md-3 categorias" style="width:20%">
   
      <div id='cssmenu1' style="z-index: -10">
         <ul>
   

           <% @categories.each do |cat|%>
                  
            <li class='has-sub'>
               <a href='show_categoria/<%=cat.id%>'><span"><%=cat.icon.html_safe%></i> &nbsp; <%=cat.name.upcase%></span></a>
               <ul>
              <% cat.sub_categories.each do |sub_cat|%>
                  <li><a href='show_subCategoria/<%=sub_cat.id%>'><span><%=sub_cat.name.upcase%></span></a></li>
              <%end%>    
               </ul>
            </li>
              
           <%end%>



         </ul>
      </div>
   </div>
   <div class="col-md-9 slider-col" style = "padding: 0px 0px 20px 15px;">

      <div id="myCarousel" class="carousel slide" data-ride="carousel" style="       box-shadow: gray 0px 2px 11px 3px;">
         <!-- Indicators -->
         <ol class="carousel-indicators" style = " background: rgba(29, 29, 29, 0.72);
            width: 28%;
            left: 68%;
            ">
            <% b = 0
               @sliders.each do  |slide|%>
            <li data-target="#myCarousel" data-slide-to="<%=b%>" class="<%= 'active' if b == 0%>"></li>
            <% b = b + 1
               end%>
         </ol>
         <!-- Wrapper for slides -->
         <div class="carousel-inner">
            <% a = 0
               @sliders.each do  |slide|%>
            <div class="item <%= 'active' if a == 0%>">
               <%= image_tag slide.image_url %>
               <%if slide.description != nil && slide.description != ""%>
               <div class="verdiv">
                  <a class="ver btn btn-primary" href="<%=slide.name%>" class="btn btn-primary"><%=slide.description%></a>
               </div>
               <%end%>
            </div>
            <% a = a + 1
               end%>
         </div>
         <!-- Left and right controls -->
         <a class="left carousel-control" href="#myCarousel" data-slide="prev">
         <span class="glyphicon glyphicon-chevron-left prev"></span>
         <span class="sr-only">Previous</span>
         </a>
         <a class="right carousel-control" href="#myCarousel" data-slide="next">
         <span class="glyphicon glyphicon-chevron-right prev"></span>
         <span class="sr-only">Next</span>
         </a>
      </div>
   </div>
</div>
<br>
<br><br>
<div class="row" style="padding-bottom: 27px;">
      <div class="col-md-12 text-center">
      <br>
      <h2 style="margin: 0px">PROVEEDORES</h2>
      <p class="prov-p"> Mas que proveedores, son nuestros aliados estrategicos, los cuales nos permiten brindarle a nuestros clientes, productos de alta calidad y muy buenos precios.<p>
   </div>
   <div class="col-md-12 text-center" style="padding:0px 20px">
      <br><br>
      <div class="slider-container">
         <ul id="slider">
         <%= @suppliers.each do |sup| %>
         <li><a href="#"><%=image_tag sup.image_url%></a></li>
          <%end%>
      </div>
      <!-- /slider -->
   </div>
</div>
<div class="row catalogos catalogos1" >
   <div class="col-md-12 text-center" style="margin-bottom:60px;">
      <h2>CATALOGOS</h2>
   </div>
   <% @catalogs.each do |cat|%>
   <div class="col-md-3">
   <% cat.catalog_url.blank? ? a = cat.catalog_attachment_url : a = cat.catalog_url%>
   <%= link_to a, target:"_blank" do %>
      <%=image_tag(cat.image_url)%>
      <%end%>
      <h3><%= cat.name%></h3>
   </div>
   <%end%>

</div>



<%= render "slider", destacados: @destacados%>


<div class="row primeros-productos catalogos1">
   <div class="col-md-12 text-center" style="margin-bottom:60px;">
      <h2>NOVEDADES</h2>
   </div>
  <% @some_products.each do |des| %>
  
   <div class="col-md-3">
      <%=image_tag des.image_url%>
    
   </div>
   
  <%end%>

</div>


<div class="row primeros-productos">
   <div class="col-md-12 text-center" style="margin-bottom:60px;">
      <h2>LINEA DE COSMETICOS</h2>
   </div>
  <% @cosmetics_c.each do |cc| %>
   <% cc.products.where(show_index:true).each do |cos| %>
   <div class="col-md-3">
      <%=image_tag cos.image_url%>
      <h3><%=cos.name%></h3>
   </div>
   <%end%>
  <%end%>

   
</div>
<div class="row catalogos catalogos1" >
   <div class="col-md-12 text-center" style="margin-bottom:60px;">
      <h2>PRODUCTOS NUEVOS</h2>
   </div>
   <% @cuadernos_c.each do |cua| %>
   <%cua.products.where(show_index:true).each do  |cuaderno| %>
   <div class="col-md-3">
    
      <h3><%= cuaderno.name%></h3>
   </div>
   <%end%>

  <%end%>
  <div class="col-md-12 text-center" style="margin-top:70px">
    <%=link_to "Ver Todos", show_subCategoria_path(@cuadernos_c.first.id), class:"btn btn-primary ver"%>
  </div>
   
</div>
<div class="row sobres" >
   <div class="col-md-12 text-center" style = ";margin-bottom:60px;">
      <h2>
         <p>LLUVIA DE SOBRES PARA TODAS LAS OCASIONES</p>
         
      </h2>
   </div>
    
       <% @sobres_c.each do |sc| %>
   <% sc.products.where(show_index:true).each  do  |sobre| %>
   <div class="col-md-3">
      <%=image_tag sobre.image_url%>
      <h3><%= sobre.name%></h3>
   </div>
   <%end%>
  <%end%>

   <div class="col-md-12 text-center" style="margin-top:70px">
    <%=link_to "Ver Todos", show_subCategoria_path(@sobres_c.first.id), class:"btn btn-primary ver"%>
  </div>
</div>
<style>
.somos-m
{
  font-size: 35px;
}
.catalogos1
{
    background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), 
 url('../../images/fondoazul1.jpg')no-repeat center top;
  background-size: cover;
}


.glyphicon-chevron-left:before 
   {
    background: gray !important;
    padding: 6px !important;
   }
   .glyphicon-chevron-right:before 
   {
    background: gray !important;
    padding: 6px !important;
   }
   .sobres
   {

   padding: 40px;

   }
   .sobres .col-md-3
   {

   padding: 15px 0 0 0;
   text-align: center;
   margin-bottom: 20px;
   }
   .sobres img
   {
   width: 200px;
   height: 160px
   }
   .catalogos
   {
  
   padding: 40px;
   }
   .catalogos .col-md-3
   {
  
   padding: 15px 0 0 0;
   text-align: center;
   margin-bottom: 20px;
   }
   .catalogos img
   {
   width: 200px;
   height: 260px
   }
   .primeros-productos
   {    
 
   padding: 40px;
   }
   .primeros-productos 
   {
   /*background: linear-gradient( rgb(255, 255, 255), rgba(255, 255, 255, 0.75) ), url('../../images/fondocometicos.jpg')no-repeat center top;
   background-size: cover;*/
   }
   .primeros-productos img
   {
   width: 200px;
   height: 260px
   }
   .primeros-productos .col-md-3
   {
 
   padding: 15px 0 0 0;
   text-align: center;
   margin-bottom: 20px;
   }
   h3
   {
       color: white;
    background: orange;
    padding: 5px;
     font-size: 16px;

    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
   }
   h2
   {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    /* background: #ff9000; */
    padding: 4px;
    display: inline-block;
    color: #ff9000;
    font-size: 45px;
    font-weight: bold;
   }
   @import url(http://fonts.googleapis.com/css?family=Oxygen+Mono);
   /* Please Keep this font import at the very top of any CSS file */
   @charset "UTF-8";
   /* Starter CSS for F
   lyout Menu 
   */
   #cssmenu1 {
   padding: 0;
   margin: 0;
   border: 0;
   line-height: 1;
   }
   #cssmenu1 .fa {
   color:#ff9000
   }
   #cssmenu1 ul,
   #cssmenu1 ul li,
   #cssmenu1 ul ul {
   list-style: none;
   margin: 0;
   padding: 0;
   }
   #cssmenu1 ul {
   position: relative;
   z-index: 597;
   float: left;
   }
   #cssmenu1 ul li {
   float: left;
   min-height: 1px;
   line-height: 1em;
   vertical-align: middle;
   position: relative;
   }
   #cssmenu1 ul li.hover,
   #cssmenu1 ul li:hover {
   position: relative;
   z-index: 599;
   cursor: default;
   }
   #cssmenu1 ul ul {
   visibility: hidden;
   position: absolute;
   top: 100%;
   left: 0px;
   z-index: 598;
   width: 100%;
   }
   #cssmenu1 ul ul li {
   float: none;
   }
   #cssmenu1 ul ul ul {
   top: -2px;
   right: 0;
   }
   #cssmenu1 ul li:hover > ul {
   visibility: visible;
   }
   #cssmenu1 ul ul {
   top: 1px;
   left: 99%;
   }
   #cssmenu1 ul li {
   float: none;
   }
   #cssmenu1 ul ul {
   margin-top: 1px;
   }
   #cssmenu1 ul ul li {
   font-weight: normal;
   }
   /* Custom CSS Styles */
   #cssmenu1 {
   width: 220px;
   background: #ffffff;
   font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
   zoom: 1;
   font-size: 12px;
   }
   #cssmenu1:before {
   content: '';
   display: block;
   }
   #cssmenu1:after {
   content: '';
   display: table;
   clear: both;
   }
   #cssmenu1 a {
   display: block;
   padding: 15px 10px;
   color: #ff9000;
   text-decoration: none;
   text-transform: uppercase;
   }
   #cssmenu1 > ul {
   width: 240px;
   }
   #cssmenu1 ul ul {
   width: 200px;
   }
   #cssmenu1 > ul > li > a {
   border-right: 1px solid #eaeaea;
      color: #848484;
    font-weight: bold;
   border-bottom: 1px solid #eaeaea;
   border-left: 1px solid #eaeaea;
   }
   #cssmenu1 > ul > li > a:hover {
   color: white;
   }
   #cssmenu1 > ul > li.active a {
   background: white;
   color:#ff9000;
   }
   #cssmenu1 > ul > li a:hover,
   #cssmenu1 > ul > li:hover a {
   background: white;
   color:#ff9000;
   }
   #cssmenu1 li {
   position: relative;
   }
   #cssmenu1 ul li.has-sub > a:after {
   content: '+';
   position: absolute;
   top: 50%;
   right: 15px;
   margin-top: -6px;
   }
   #cssmenu1 ul ul li.first {
   -webkit-border-radius: 0 3px 0 0;
   -moz-border-radius: 0 3px 0 0;
   border-radius: 0 3px 0 0;
   }
   #cssmenu1 ul ul li.last {
   -webkit-border-radius: 0 0 3px 0;
   -moz-border-radius: 0 0 3px 0;
   border-radius: 0 0 3px 0;
   border-bottom: 0;
   }
   #cssmenu1 ul ul {
   -webkit-border-radius: 0 3px 3px 0;
   -moz-border-radius: 0 3px 3px 0;
   border-radius: 0 3px 3px 0;
   }
   #cssmenu1 ul ul {
   border: 1px solid white;
   }
   #cssmenu1 ul ul a {
   font-size: 12px;
   color: white;
   }
   #cssmenu1 ul ul a:hover {
   color: white;
   }
   #cssmenu1 ul ul li {
   border-bottom: 1px solid white;
   }
   #cssmenu1 ul ul li:hover > a {
   background: #ff9000;
   color: white;
   }
   #cssmenu1.align-right > ul > li > a {
   border-left: 4px solid white;
   border-right: none;
   }
   #cssmenu1.align-right {
   float: right;
   }
   #cssmenu1.align-right li {
   text-align: right;
   }
   #cssmenu1.align-right ul li.has-sub > a:before {
   content: '+';
   position: absolute;
   top: 50%;
   left: 15px;
   margin-top: -6px;
   }
   #cssmenu1.align-right ul li.has-sub > a:after {
   content: none;
   }
   #cssmenu1.align-right ul ul {
   visibility: hidden;
   position: absolute;
   top: 0;
   left: -100%;
   z-index: 598;
   width: 100%;
   }
   #cssmenu1.align-right ul ul li.first {
   -webkit-border-radius: 3px 0 0 0;
   -moz-border-radius: 3px 0 0 0;
   border-radius: 3px 0 0 0;
   }
   #cssmenu1.align-right ul ul li.last {
   -webkit-border-radius: 0 0 0 3px;
   -moz-border-radius: 0 0 0 3px;
   border-radius: 0 0 0 3px;
   }
   #cssmenu1.align-right ul ul {
   -webkit-border-radius: 3px 0 0 3px;
   -moz-border-radius: 3px 0 0 3px;
   border-radius: 3px 0 0 3px;
   }
   .cat a:hover
   {
   background:#ff9000 !important;
   }
</style>
<style>
   #slider {
   list-style:none;
   padding:0px
   }
   .slider-container { 
   height:150px; 
   padding: 20px 0 0 36px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   border-radius: 2px; 
   }
   #slider img { 
   width:150px; 
   margin:0px; 
   display:inline-block  
   }
   #slider li {
   width:210px
   }
   .bx-window
   {
   width: 100% !important;
   }
   .bx-wrapper
   {
   width: 100% !important;
   } 
   .carousel-control.left {
   background: none !important;
   }
   .carousel-control.right {
   background: none !important;
   }
   .ver
   {
   background: orange !important;
   border: 1px solid white !important;
   font-size: 19px !important;
   font-weight: bold !important;
   }
   .verdiv
   {
   position: absolute;
   top: 35%;
   left: 40%;
   background: rgba(128, 128, 128, 0.3);
   padding: 20px 40px;
   }    .first{
      padding: 0px 10px 0px 10px;    
    }
   .slider-col{
     padding: 0px 0px 20px 50px;
     width: 80%;
    }
    .prov-p
    {
    padding: 10px 290px;
    }

       @media only screen and (max-width: 700px) {
        .somos-m
{
  font-size: 20px;
}
    .first{
      padding: 0px !important;
    }
    .prov-p
    {
      padding:0px 0px;
    }
   .slider-col{
     padding: 0px 10px 0px 10px !important;
     width: 100%;
    }
    .categorias
    {
      display: none;
    }
    .verdiv {
    
    left: 20%;

}

}

</style>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript">
   $(document).on('turbolinks:load',function() {
     $('#slider').bxSlider({
     ticker: true,
     tickerSpeed: 5000,
   tickerHover: true
   });
   });
</script>
<script>

   (function(a){a.fn.bxSlider=function(b){function Z(b,c,d,e){var f=[];var g=d;var h=false;if(e=="backward"){b=a.makeArray(b);b.reverse()}while(g>0){a.each(b,function(b,d){if(g>0){if(!h){if(b==c){h=true;f.push(a(this).clone());g--}}else{f.push(a(this).clone());g--}}else{return false}})}return f}function Y(){var a=i.outerHeight()*b.displaySlideQty;return a}function X(){var a=i.outerWidth()*b.displaySlideQty;return a}function W(b,c){if(c=="left"){var d=a(".pager",h).eq(b).position().left}else if(c=="top"){var d=a(".pager",h).eq(b).position().top}return d}function V(){if(!b.infiniteLoop&&b.hideControlOnEnd){if(x==F){a(".bx-prev",h).hide()}else{a(".bx-prev",h).show()}if(x==G){a(".bx-next",h).hide()}else{a(".bx-next",h).show()}}}function U(c,e,f,g){p=a('<a href="" class="bx-start"></a>');if(c=="text"){r=e}else{r='<img src="source/'+e+'" />'}if(f=="text"){s=g}else{s='<img src="source/'+g+'" />'}if(b.autoControlsSelector){a(b.autoControlsSelector).append(p)}else{h.append('<div class="bx-auto"></div>');a(".bx-auto",h).html(p)}p.click(function(){if(b.ticker){if(a(this).hasClass("stop")){d.stopTicker()}else if(a(this).hasClass("start")){d.startTicker()}}else{if(a(this).hasClass("stop")){d.stopShow(true)}else if(a(this).hasClass("start")){d.startShow(true)}}return false})}function T(){var c=a("img",g.eq(x)).attr("title");if(c!=""){if(b.captionsSelector){a(b.captionsSelector).html(c)}else{a(".bx-captions",h).html(c)}}else{if(b.captionsSelector){a(b.captionsSelector).html("Â ")}else{a(".bx-captions",h).html("Â ")}}}function S(c){var e=g.length;if(b.moveSlideQty>1){if(g.length%b.moveSlideQty!=0){e=Math.ceil(g.length/b.moveSlideQty)}else{e=g.length/b.moveSlideQty}}var f="";if(b.buildPager){for(var i=0;i<e;i++){f+=b.buildPager(i,g.eq(i*b.moveSlideQty))}}else if(c=="full"){for(var i=1;i<=e;i++){f+='<a href="" class="pager-link pager-'+i+'">'+i+"</a>"}}else if(c=="short"){f='<span class="bx-pager-current">'+(b.startingSlide+1)+"</span> "+b.pagerShortSeparator+' <span class="bx-pager-total">'+g.length+"</span>"}if(b.pagerSelector){a(b.pagerSelector).append(f);n=a(b.pagerSelector)}else{var j=a('<div class="bx-pager"></div>');j.append(f);if(b.pagerLocation=="top"){h.prepend(j)}else if(b.pagerLocation=="bottom"){h.append(j)}n=a(".bx-pager",h)}n.children().click(function(){if(b.pagerType=="full"){var a=n.children().index(this);if(b.moveSlideQty>1){a*=b.moveSlideQty}d.goToSlide(a)}return false})}function R(c,e,f,g){var i=a('<a href="" class="bx-next"></a>');var j=a('<a href="" class="bx-prev"></a>');if(c=="text"){i.html(e)}else{i.html('<img src="source/'+e+'" />')}if(f=="text"){j.html(g)}else{j.html('<img src="source/'+g+'" />')}if(b.prevSelector){a(b.prevSelector).append(j)}else{h.append(j)}if(b.nextSelector){a(b.nextSelector).append(i)}else{h.append(i)}i.click(function(){d.goToNextSlide();return false});j.click(function(){d.goToPreviousSlide();return false})}function Q(c){if(b.pagerType=="full"&&b.pager){a("a",n).removeClass(b.pagerActiveClass);a("a",n).eq(c).addClass(b.pagerActiveClass)}else if(b.pagerType=="short"&&b.pager){a(".bx-pager-current",n).html(x+1)}}function P(){g.not(":eq("+x+")").fadeTo(b.speed,0).css("zIndex",98);g.eq(x).css("zIndex",99).fadeTo(b.speed,1,function(){E=false;if(jQuery.browser.msie){g.eq(x).get(0).style.removeAttribute("filter")}b.onAfterSlide(x,g.length,g.eq(x))})}function O(){e.hover(function(){if(t){d.stopTicker(false)}},function(){if(t){d.startTicker(false)}})}function N(){h.find(".bx-window").hover(function(){if(t){d.stopShow(false)}},function(){if(t){d.startShow(false)}})}function M(){if(b.startImage!=""){startContent=b.startImage;startType="image"}else{startContent=b.startText;startType="text"}if(b.stopImage!=""){stopContent=b.stopImage;stopType="image"}else{stopContent=b.stopText;stopType="text"}U(startType,startContent,stopType,stopContent)}function L(a,c,d){if(b.mode=="horizontal"){if(b.tickerDirection=="next"){e.animate({left:"-="+c+"px"},d,"linear",function(){e.css("left",a);L(a,A,b.tickerSpeed)})}else if(b.tickerDirection=="prev"){e.animate({left:"+="+c+"px"},d,"linear",function(){e.css("left",a);L(a,A,b.tickerSpeed)})}}else if(b.mode=="vertical"){if(b.tickerDirection=="next"){e.animate({top:"-="+c+"px"},d,"linear",function(){e.css("top",a);L(a,B,b.tickerSpeed)})}else if(b.tickerDirection=="prev"){e.animate({top:"+="+c+"px"},d,"linear",function(){e.css("top",a);L(a,B,b.tickerSpeed)})}}}function K(){if(b.auto){if(!b.infiniteLoop){if(b.autoDirection=="next"){o=setInterval(function(){x+=b.moveSlideQty;if(x>G){x=x%g.length}d.goToSlide(x,false)},b.pause)}else if(b.autoDirection=="prev"){o=setInterval(function(){x-=b.moveSlideQty;if(x<0){negativeOffset=x%g.length;if(negativeOffset==0){x=0}else{x=g.length+negativeOffset}}d.goToSlide(x,false)},b.pause)}}else{if(b.autoDirection=="next"){o=setInterval(function(){d.goToNextSlide(false)},b.pause)}else if(b.autoDirection=="prev"){o=setInterval(function(){d.goToPreviousSlide(false)},b.pause)}}}else if(b.ticker){b.tickerSpeed*=10;a(".pager",h).each(function(b){A+=a(this).width();B+=a(this).height()});if(b.tickerDirection=="prev"&&b.mode=="horizontal"){e.css("left","-"+(A+y)+"px")}else if(b.tickerDirection=="prev"&&b.mode=="vertical"){e.css("top","-"+(B+z)+"px")}if(b.mode=="horizontal"){C=parseInt(e.css("left"));L(C,A,b.tickerSpeed)}else if(b.mode=="vertical"){D=parseInt(e.css("top"));L(D,B,b.tickerSpeed)}if(b.tickerHover){O()}}}function J(){if(b.nextImage!=""){nextContent=b.nextImage;nextType="image"}else{nextContent=b.nextText;nextType="text"}if(b.prevImage!=""){prevContent=b.prevImage;prevType="image"}else{prevContent=b.prevText;prevType="text"}R(nextType,nextContent,prevType,prevContent)}function I(){if(b.mode=="horizontal"||b.mode=="vertical"){var c=Z(g,0,b.moveSlideQty,"backward");a.each(c,function(b){e.prepend(a(this))});var d=g.length+b.moveSlideQty-1;var f=g.length-b.displaySlideQty;var h=d-f;var i=Z(g,0,h,"forward");if(b.infiniteLoop){a.each(i,function(b){e.append(a(this))})}}}function H(){I(b.startingSlide);if(b.mode=="horizontal"){e.wrap('<div class="'+b.wrapperClass+'" style="width:'+l+'px; position:relative;"></div>').wrap('<div class="bx-window" style="position:relative; overflow:hidden; width:'+l+'px;"></div>').css({width:"999999px",position:"relative",left:"-"+y+"px"});e.children().css({width:j,"float":"left",listStyle:"none"});h=e.parent().parent();g.addClass("pager")}else if(b.mode=="vertical"){e.wrap('<div class="'+b.wrapperClass+'" style="width:'+v+'px; position:relative;"></div>').wrap('<div class="bx-window" style="width:'+v+"px; height:"+m+'px; position:relative; overflow:hidden;"></div>').css({height:"999999px",position:"relative",top:"-"+z+"px"});e.children().css({listStyle:"none",height:w});h=e.parent().parent();g.addClass("pager")}else if(b.mode=="fade"){e.wrap('<div class="'+b.wrapperClass+'" style="width:'+v+'px; position:relative;"></div>').wrap('<div class="bx-window" style="height:'+w+"px; width:"+v+'px; position:relative; overflow:hidden;"></div>');e.children().css({listStyle:"none",position:"absolute",top:0,left:0,zIndex:98});h=e.parent().parent();g.not(":eq("+x+")").fadeTo(0,0);g.eq(x).css("zIndex",99)}if(b.captions&&b.captionsSelector==null){h.append('<div class="bx-captions"></div>')}}var c={mode:"horizontal",infiniteLoop:true,hideControlOnEnd:false,controls:true,speed:500,easing:"swing",pager:false,pagerSelector:null,pagerType:"full",pagerLocation:"bottom",pagerShortSeparator:"/",pagerActiveClass:"pager-active",nextText:"next",nextImage:"",nextSelector:null,prevText:"prev",prevImage:"",prevSelector:null,captions:false,captionsSelector:null,auto:false,autoDirection:"next",autoControls:false,autoControlsSelector:null,autoStart:true,autoHover:false,autoDelay:0,pause:3e3,startText:"start",startImage:"",stopText:"stop",stopImage:"",ticker:false,tickerSpeed:5e3,tickerDirection:"next",tickerHover:false,wrapperClass:"bx-wrapper",startingSlide:0,displaySlideQty:4,moveSlideQty:1,randomStart:false,onBeforeSlide:function(){},onAfterSlide:function(){},onLastSlide:function(){},onFirstSlide:function(){},onNextSlide:function(){},onPrevSlide:function(){},buildPager:null};var b=a.extend(c,b);var d=this;var e="";var f="";var g="";var h="";var i="";var j="";var k="";var l="";var m="";var n="";var o="";var p="";var q="";var r="";var s="";var t=true;var u=false;var v=0;var w=0;var x=0;var y=0;var z=0;var A=0;var B=0;var C=0;var D=0;var E=false;var F=0;var G=g.length-1;this.goToSlide=function(a,c){if(!E){E=true;x=a;b.onBeforeSlide(x,g.length,g.eq(x));if(typeof c=="undefined"){var c=true}if(c){if(b.auto){d.stopShow(true)}}slide=a;if(slide==F){b.onFirstSlide(x,g.length,g.eq(x))}if(slide==G){b.onLastSlide(x,g.length,g.eq(x))}if(b.mode=="horizontal"){e.animate({left:"-"+W(slide,"left")+"px"},b.speed,b.easing,function(){E=false;b.onAfterSlide(x,g.length,g.eq(x))})}else if(b.mode=="vertical"){e.animate({top:"-"+W(slide,"top")+"px"},b.speed,b.easing,function(){E=false;b.onAfterSlide(x,g.length,g.eq(x))})}else if(b.mode=="fade"){P()}V();if(b.moveSlideQty>1){a=Math.floor(a/b.moveSlideQty)}Q(a);T()}};this.goToNextSlide=function(a){if(typeof a=="undefined"){var a=true}if(a){if(b.auto){d.stopShow(true)}}if(!b.infiniteLoop){if(!E){var c=false;x=x+b.moveSlideQty;if(x<=G){V();b.onNextSlide(x,g.length,g.eq(x));d.goToSlide(x)}else{x-=b.moveSlideQty}}}else{if(!E){E=true;var c=false;x=x+b.moveSlideQty;if(x>G){x=x%g.length;c=true}b.onNextSlide(x,g.length,g.eq(x));b.onBeforeSlide(x,g.length,g.eq(x));if(b.mode=="horizontal"){var f=b.moveSlideQty*k;e.animate({left:"-="+f+"px"},b.speed,b.easing,function(){E=false;if(c){e.css("left","-"+W(x,"left")+"px")}b.onAfterSlide(x,g.length,g.eq(x))})}else if(b.mode=="vertical"){var h=b.moveSlideQty*w;e.animate({top:"-="+h+"px"},b.speed,b.easing,function(){E=false;if(c){e.css("top","-"+W(x,"top")+"px")}b.onAfterSlide(x,g.length,g.eq(x))})}else if(b.mode=="fade"){P()}if(b.moveSlideQty>1){Q(Math.ceil(x/b.moveSlideQty))}else{Q(x)}T()}}};this.goToPreviousSlide=function(c){if(typeof c=="undefined"){var c=true}if(c){if(b.auto){d.stopShow(true)}}if(!b.infiniteLoop){if(!E){var f=false;x=x-b.moveSlideQty;if(x<0){x=0;if(b.hideControlOnEnd){a(".bx-prev",h).hide()}}V();b.onPrevSlide(x,g.length,g.eq(x));d.goToSlide(x)}}else{if(!E){E=true;var f=false;x=x-b.moveSlideQty;if(x<0){negativeOffset=x%g.length;if(negativeOffset==0){x=0}else{x=g.length+negativeOffset}f=true}b.onPrevSlide(x,g.length,g.eq(x));b.onBeforeSlide(x,g.length,g.eq(x));if(b.mode=="horizontal"){var i=b.moveSlideQty*k;e.animate({left:"+="+i+"px"},b.speed,b.easing,function(){E=false;if(f){e.css("left","-"+W(x,"left")+"px")}b.onAfterSlide(x,g.length,g.eq(x))})}else if(b.mode=="vertical"){var j=b.moveSlideQty*w;e.animate({top:"+="+j+"px"},b.speed,b.easing,function(){E=false;if(f){e.css("top","-"+W(x,"top")+"px")}b.onAfterSlide(x,g.length,g.eq(x))})}else if(b.mode=="fade"){P()}if(b.moveSlideQty>1){Q(Math.ceil(x/b.moveSlideQty))}else{Q(x)}T()}}};this.goToFirstSlide=function(a){if(typeof a=="undefined"){var a=true}d.goToSlide(F,a)};this.goToLastSlide=function(){if(typeof a=="undefined"){var a=true}d.goToSlide(G,a)};this.getCurrentSlide=function(){return x};this.getSlideCount=function(){return g.length};this.stopShow=function(a){clearInterval(o);if(typeof a=="undefined"){var a=true}if(a&&b.autoControls){p.html(r).removeClass("stop").addClass("start");t=false}};this.startShow=function(a){if(typeof a=="undefined"){var a=true}K();if(a&&b.autoControls){p.html(s).removeClass("start").addClass("stop");t=true}};this.stopTicker=function(a){e.stop();if(typeof a=="undefined"){var a=true}if(a&&b.ticker){p.html(r).removeClass("stop").addClass("start");t=false}};this.startTicker=function(a){if(b.mode=="horizontal"){if(b.tickerDirection=="next"){var c=parseInt(e.css("left"));var d=A+c+g.eq(0).width()}else if(b.tickerDirection=="prev"){var c=-parseInt(e.css("left"));var d=c-g.eq(0).width()}var f=d*b.tickerSpeed/A;L(C,d,f)}else if(b.mode=="vertical"){if(b.tickerDirection=="next"){var h=parseInt(e.css("top"));var d=B+h+g.eq(0).height()}else if(b.tickerDirection=="prev"){var h=-parseInt(e.css("top"));var d=h-g.eq(0).height()}var f=d*b.tickerSpeed/B;L(D,d,f);if(typeof a=="undefined"){var a=true}if(a&&b.ticker){p.html(s).removeClass("start").addClass("stop");t=true}}};this.initShow=function(){e=a(this);f=e.clone();g=e.children();h="";i=e.children(":first");j=i.width();v=0;k=i.outerWidth();w=0;l=X();m=Y();E=false;n="";x=0;y=0;z=0;o="";p="";q="";r="";s="";t=true;u=false;A=0;B=0;C=0;D=0;F=0;G=g.length-1;g.each(function(b){if(a(this).outerHeight()>w){w=a(this).outerHeight()}if(a(this).outerWidth()>v){v=a(this).outerWidth()}});if(b.randomStart){var c=Math.floor(Math.random()*g.length);x=c;y=k*(b.moveSlideQty+c);z=w*(b.moveSlideQty+c)}else{x=b.startingSlide;y=k*(b.moveSlideQty+b.startingSlide);z=w*(b.moveSlideQty+b.startingSlide)}H();if(b.pager&&!b.ticker){if(b.pagerType=="full"){S("full")}else if(b.pagerType=="short"){S("short")}}if(b.controls&&!b.ticker){J()}if(b.auto||b.ticker){if(b.autoControls){M()}if(b.autoStart){setTimeout(function(){d.startShow(true)},b.autoDelay)}else{d.stopShow(true)}if(b.autoHover&&!b.ticker){N()}}if(b.moveSlideQty>1){Q(Math.ceil(x/b.moveSlideQty))}else{Q(x)}V();if(b.captions){T()}b.onAfterSlide(x,g.length,g.eq(x))};this.destroyShow=function(){clearInterval(o);a(".bx-next, .bx-prev, .bx-pager, .bx-auto",h).remove();e.unwrap().unwrap().removeAttr("style");e.children().removeAttr("style").not(".pager").remove();g.removeClass("pager")};this.reloadShow=function(){d.destroyShow();d.initShow()};this.each(function(){if(a(this).children().length>0){d.initShow()}});return this};jQuery.fx.prototype.cur=function(){if(this.elem[this.prop]!=null&&(!this.elem.style||this.elem.style[this.prop]==null)){return this.elem[this.prop]}var a=parseFloat(jQuery.css(this.elem,this.prop));return a}})(jQuery)


 
   
</script>