<%= form_with(model: sub_category, local: true) do |form| %>
  <% if sub_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_category.errors.count, "error") %> prohibited this sub_category from being saved:</h2>

      <ul>
      <% sub_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :sub_category_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :sub_category_description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :sub_category_image %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.check_box :state, id: :sub_category_state %>
  </div>

  <div class="field">
    <%= form.label :icon %>
    <%= form.text_field :icon, id: :sub_category_icon %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :sub_category_user_id %>
  </div>


  <div class="field">
               <%= form.label "Categoria" %><br>
               <%= form.select :category_id,
                 Category.all.map { |u| [u.name, u.id] },
                             { class: ''  }
                  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
