<div class="row sign_form" style="    background-color: #c3c3c3;">

<div class="col-lg-6 col-lg-offset-3 login1">
<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name , class: "form form-control"%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :product_description , class: "form form-control"%>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :product_image, class: "form form-control" %>
  </div>

  <div class="row">
  <div class="col-lg-6">
      <div class="field">
    <%= form.label :state %>
    <%= form.check_box :state, id: :product_state, class: "form form-control" %>
  </div>
  </div>
   <div class="col-lg-6">
     <div class="field">
    <%= form.label :show_index %>
    <%= form.check_box :show_index, id: :product_show_index, class: "form form-control" %>
  </div>
  </div>
    
  </div>
    <div class="row">
  <div class="col-lg-6">
      <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :product_price, class: "form form-control" %>
  </div>
  </div>
   <div class="col-lg-6">
      <div class="field">
               <%= form.label "Proveedor" %><br>
               <%= form.select :supplier_id,
                 Supplier.all.map { |u| [u.name, u.id] },
                             { class: 'form form-control'  }
                  %>
  </div>
  </div>
    
  </div>




 



    <div class="form-group">
               <%= form.label "Categoria" %><br>
               <%= form.select :sub_category_ids, SubCategory.all.collect {|c| ["#{c.name} - #{c.category.name}", c.id]}, {prompt: false}, {:multiple => true,class: 'form form-control'} %>
            </div>

  <div class="actions">
    <%= form.submit  "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
